<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/results.css">
  </head>
  <body>
    <div class="container">
      <h1>result</h1>
      <div class="output">
        <ul>
            <% for(var i in items){ %>
                <li>
                    <%=items[i]['snippet']['title']%>
                </li>
                <li>
                    <%='https://www.youtube.com/watch?v='+items[i]['id']['videoId']%>
                </li>
            <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>
