<!DOCTYPE html>
<html>
<head>
  <%include ./layout/head%>
  <link rel="stylesheet" type="text/css" href="../css/results.css">
</head>
<body>
  <div class="container">
    <h1>Result</h1>
    <div class="outputs">
        <% for(var i in items){ %>
          <div class="output">
            <span>title : <%=newdata['items'][i]['snippet']['title']%></span> 
              <br/>
              <!--<span>url : </span>
              <a href="<%=" https://www.youtube.com/watch?v=" + newdata['items'][i]['id']['videoId']%>">
                <%="https://www.youtube.com/watch?v=" + newdata['items'][i]['id']['videoId']%>
              </a>-->

              <img src=<%=newdata[ 'items'][i][ 'snippet'][ 'thumbnails'][ 'medium'][ 'url']%> alt="">
          </div>
        <% } %>

    </div>
  </div>
</body>
</html>