<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/search.css">
  </head>
  <body>
    <div class="container">
      <h1>Youtube Search</h1>
      <div class="inputs">
        <input id="searchbar" type="text" name="searchbar">
        <input id="searchbtn" type="submit" name="searchbtn" value="Search">
      </div>
    </div>
  </body>
</html>
