<!DOCTYPE html>
<html>
<head>
  <%include ./layout/head%>
  <link rel="stylesheet" type="text/css" href="../css/search.css">
</head>

<body>
  <div class="container">
    <h1>Youtube Search</h1>
    <form method="post">
      <div class="form-group">
        <input type="text" class="form-control form-control-lg" placeholder="Search" name="searchbar">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Search</button>
    </form>

  </div>
</body>

</html>