@import url(./font.css);
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-weight: 100!important;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.outputs {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  width: 350px;
  height: 240px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.output span {
  flex: 1;
  position: relative;
  height: 18px;
  width: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.output img {
  vertical-align: 0px!important;
  flex: 2;
  position: relative;
  top: -20px;
}